.page-holder {
    background-image: url('../assets/images/bg1.jpg');
    background-size: cover;
    background-attachment: fixed;

    min-height: 100vh;
    width: 100%;
}

.container {
    margin: 0 auto;
}

.search-holder {
    margin: 0 auto;
    padding: 10px;
    max-width: 500px;

    input {
        width: 100%;
    }
}

.content {
    background-color: #f6f6f6;
    border-radius: 5px;
    min-height: 100px;
    section {
        padding: 10px;
    }
}

@media (min-width: 544px) {
    .container {
        max-width: 576px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 940px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}